<div class="identity-card">
  <div class="identity-hero">
    <!-- Icon -->
    <app-server-icon size="card"></app-server-icon>
    <!-- Status badge -->
    <app-server-status-badge size="lg"></app-server-status-badge>
    @if (serverService.motd().length > 0) {
      <p class="identity-motd">{{ serverService.motd()[0] }}</p>
    }
  </div>
  <!-- Tags -->
  <div class="identity-tags">
    @if (serverService.software()) {
      <app-tag-chip color="green">{{ serverService.software() }}</app-tag-chip>
    }
    @if (serverService.version()) {
      <app-tag-chip color="zinc">{{ serverService.version() }}</app-tag-chip>
    }
    @if (serverService.protocol()) {
      <app-tag-chip color="dim">Protocol {{ serverService.protocol()!.version }}</app-tag-chip>
    }
  </div>
</div>
