:host {
  display: block;
}

.resize-handle {
  resize: vertical;
  overflow: hidden;
  min-height: 240px;
  max-height: 80vh;
  height: 320px;

  iframe {
    height: 100% !important;
  }
}

.fill-handle {
  flex: 1 1 auto;
  min-height: 240px;
  overflow: hidden;
  resize: vertical;

  iframe {
    height: 100% !important;
  }
}
