<div class="quick-nav-list">
  <a routerLink="/players" class="quick-nav-item group">
    <div class="quick-nav-icon">
      <app-icon [icon]="LucideUsers" [size]="20"></app-icon>
    </div>
    <div class="quick-nav-copy">
      <div class="quick-nav-title">Player List</div>
      <div class="quick-nav-subtitle">{{ playerService.players().length }} registered players</div>
    </div>
    <app-icon [icon]="LucideChevronRight" [size]="16" [strokeWidth]="2.5" class="quick-nav-arrow"></app-icon>
  </a>

  <a routerLink="/server" class="quick-nav-item group">
    <div class="quick-nav-icon">
      <app-icon [icon]="LucideServer" [size]="20"></app-icon>
    </div>
    <div class="quick-nav-copy">
      <div class="quick-nav-title">Server Status</div>
      <div class="quick-nav-subtitle">Detailed server information</div>
    </div>
    <app-icon [icon]="LucideChevronRight" [size]="16" [strokeWidth]="2.5" class="quick-nav-arrow"></app-icon>
  </a>
</div>
