<div class="col-span-5 flex items-center gap-4">
    <app-player-face [player]="player" [size]="40" [showBadge]="true"
      class="w-10 h-10 rounded-lg border border-zinc-700 group-hover:border-emerald-500/50 transition-colors shadow-lg shrink-0">
    </app-player-face>
    <div class="flex flex-col">
      <span class="font-bold text-zinc-100 group-hover:text-emerald-400 transition-colors">{{ player.name }}</span>
      <span class="text-[10px] font-mono text-zinc-600 truncate max-w-[120px]">{{ player.uuid }}</span>
    </div>
  </div>

  <div class="col-span-2">
    <span class="bg-zinc-800 px-2.5 py-1 rounded-md text-emerald-400 font-mono text-xs font-bold border border-zinc-700">
      LVL {{ player.level }}
    </span>
  </div>

  <div class="col-span-3">
    <span class="text-xs font-bold"
      [ngClass]="{
        'text-emerald-500': player.dimension === 'Overworld',
        'text-orange-500': player.dimension === 'Nether',
        'text-purple-500': player.dimension === 'The End'
      }">{{ player.dimension }}</span>
  </div>

  <div class="col-span-2 text-right">
    <span class="text-zinc-500 text-[10px] font-mono">{{ player.last_seen }}</span>
  </div>
